@page "/peliculas/crear"
@inject NavigationManager navigationManager

<h3>CrearPelicula</h3>

<button @onclick="Crear">SAVE</button>

@code {
    void Crear()
    {
        navigationManager.NavigateTo("pelicula"); //navegar hacia 
    }
}
