@page "/peliculas/{PeliculaID:int}"
@page "/peliculas/{PeliculaID:int}/{NombrePelicula}"

<h3>VisualizarPelicula</h3>

@code {
    [Parameter] public int PeliculaID { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine("El ID de la pelicula es:" + PeliculaID);
    }
}
