@inject NavigationManager navigationManager

<h3>EditarGenero</h3>


<FormularioGenero @ref="formularioGenero" Genero="Genero" OnValidSubmit="Editar" />

@code {
    [Parameter] public int GeneroID { get; set; }
    private Genero? Genero;

    private FormularioGenero formularioGenero;

    protected override void OnInitialized()
    {
        Genero = new Genero()
            {
                Id = GeneroID,
                Nombre = "Romance"
            };
    }

    private void Editar()
    {
        formularioGenero.FormularioPosteado = true;
        Console.WriteLine("Editando");
        Console.WriteLine($"ID: {Genero!.Id}");
        Console.WriteLine($"Nombre: {Genero.Nombre}");
        navigationManager.NavigateTo("Generos");
    }
}
